html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important; */
    background-color: #F1F1F1 !important;
    margin-left: 20px;
    margin-right: 20px;


}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
main{
  margin-top: 20px;
}
.container {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}
.MuiSelect-select{
  border: "1px solid #484850" !important;
  border-Radius: "5px 5px 0 0" !important;
}

.infoBox{
  background-color: #fff;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 20px 40px;
  max-width: 600px;
  flex-direction: column;


}
.infoBox p{
  text-align: center;
}